# Override gtk theme
#theme = "adw-gtk3"
# Override gtk icon theme
#IconTheme = "Adwaita"

# Display minimized windows on taskbars across all outputs
#DisownMinimized = true

# Select terminal emulator to use
Set Term = "kitty"

Function("SfwbarInit") {
	SetLayer "bottom"
#	SetBarSensor "1000" # Auto hide bar after x milliseconds
#	SetBarSize "100%"
	SetMirror "*" # show tasbar on all monitors
#	SetExclusiveZone "auto"
}

include("winops.widget")

layout {
#	css = "* { min-height: 28px }"

	include("startmenu.widget")

	taskbar {
		style = "taskbar"                    # Css selector
		rows = 1;                            # Number of rows for taskbar items
		icons = true;                        # Display icons
		labels = true;                       # Display titles
		sort = false;                        # Manual sorting
		action[3] = Menu "winops"            # Context menu
		title_width = 20                     # Set max title width
	}

	# Spacer
	label {
		css = "* { -GtkWidget-hexpand: true; }"
	}

	tray {
		rows = 1
	}

#	include("network-module.widget")
#	include("alsa-module.widget")
	include("pulse-module.widget")
#	include("bluez.widget")

	grid {
		css = "* { -GtkWidget-direction: right; padding-left: 4px; padding-right: 4px}"
		label {
			interval = 10000
			value = Time("%a %d %b, ")
		}
		label {
#			css = "* { font: 12pt mono } "
			interval = 10000
			value = Time("%H:%M")
		}
	}
}

#CSS
#hidden {
	-GtkWidget-visible: false;
}

button {
	min-height: 16px;
	min-width: 16px;
	border-radius: 0px;
	-GtkWidget-hexpand: false;
}

button#taskbar_normal image,
button#taskbar_normal image:hover,
button#taskbar_active image,
button#taskbar_inactive image {
	padding-right: 4px;
}

button#taskbar_active {
	background-color: rgba(192, 191, 188, 1.0);
}

#menu_item image {
	padding-right: 4px;
}

/* If icons look off-center in system tray adjust/remove padding here */
button#tray_active,
button#tray_passive,
button#tray_attention {
	padding-right: 2px;
}

button#tray_active image,
button#tray_passive image,
button#tray_attention image {
	-ScaleImage-symbolic: true;
}

label {
#	font: 9pt Sans;
}

* {
	-GtkWidget-vexpand: true;
}
